<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Traductor IA</title>

    <link rel="stylesheet" href="/static/style.css">

    <!-- TensorFlow.js -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>

    <!-- MediaPipe -->
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"></script>

</head>

<body>

    <div class="container">

        <h1>Traductor de Señas IA</h1>

        <video class="input_video"></video>

        <canvas class="output_canvas"></canvas>

        <div class="texto">

            <h2 id="resultado">Cargando IA...</h2>

        </div>

    </div>

    <script src="/static/script.js"></script>

</body>

</html>